<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="largeBinding"
                 maxBufferPoolSize="20000000"
                 maxBufferSize="20000000"
                 maxReceivedMessageSize="20000000">
          <readerQuotas maxArrayLength="20000000"
                        maxStringContentLength="20000000"
                        maxDepth="32"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
            name="WingateDigitalSigningService"
            address="http://localhost:55504/MessageReceiver.svc"
            binding="basicHttpBinding"
            bindingConfiguration="largeBinding"
            contract="Gonemad.SMTPtoServiceEndpoint.Contracts.IMessageReceiverService" />

    </client>
  </system.serviceModel>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>